@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blur-out {
  from {
    filter: blur(0);
    opacity: 1;
  }
  to {
    filter: blur(20px);
    opacity: 0;
  }
}

@keyframes blur-in {
  from {
    filter: blur(20px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}

.animate-blur-out {
  animation: blur-out 5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.animate-blur-in {
  animation: blur-in 5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}